*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    margin: 20px;
    padding: 20px;  
  
}

.container{ 
    display: flex;
    flex-direction: row;
    gap: 100px;
   align-items: center;
   font-size: 40px;
   margin-bottom: 20px;
}

